/tmp
/out-tsc

# Node
/node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.pnp
.pnp.js

# Next.js
frontend/.next/
frontend/out/

# Python
backend/.venv/
__pycache__/
*.pyc
*.pyo
.pytest_cache/
.ruff_cache/
dist/
*.egg-info/

# Environment
.env
.env.local
.env.*.local

# IDE
.vscode/*

/pre_work
